
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>
    <header class="site-navbar py-4" role="banner" style="background: #1a1e25;">

        <div class="container">
            <div class="d-flex align-items-center">
                <div class="site-logo">
                    <a href="index.html">
                        <img src="assets/images/chat.svg" height="70px" width="70px" alt="Logo">
                    </a>
                </div>
                <div class="ml-auto">
                    <nav class="site-navigation position-relative text-right" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                            <li class="active"><a href="index.html" class="nav-link">Home</a></li>
                            
                            <li><a routerLink="login" class="nav-link">Login</a></li>
                            <li><a routerLink="signup" class="nav-link">Signup</a></li>
                            <li>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                      Admin
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a routerLink="add-post" class="dropdown-item" >Post</a></li>
                                     
                                 
                                 
                                    </ul>
                                  </div>
                                
                            </li>
                        </ul>
                    </nav>

                    <a href="#"
                        class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                            class="icon-menu h3 text-white"></span></a>
                </div>
            </div>
        </div>

    </header>